<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{data}} | Teachera</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="google-site-verification" content="Vrn1u7x7MR5PRxaZ2y8TSyixybVPX_T4PRQDYvSxRGM" />
    <meta name="description" content="Find {{data}} and apply to attend . Our group {{data}} are affordable and are held at physical locations! ">
    <!-- You can use open graph tags to customize link previews.
    Learn more: https://developers.facebook.com/docs/sharing/webmasters -->
    <meta property="og:url"           content="http://teachera.org" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="{{data}}" />
    <meta property="og:description"   content="{{data}}" />
    <meta property="og:image"         content="http://teachera.org/static/img/social_media.jpg" />
    <meta property="fb:app_id"	      content="278199585695188" />

    <link rel="stylesheet" href="{{ url_for('static', filename='pygments.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='site.css') }}">
    <link rel="image_src" href="http://teachera.org/static/img/social_media.jpg" />
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="./bower_components/html5shiv/dist/html5shiv.js"></script>
      <script src="./bower_components/respond/dest/respond.min.js"></script>
    <![endif]-->
<!----Firehose chat script----->
<script type="text/javascript">
  var FHChat = {product_id: "aa51aeaf7ad7"};
  FHChat.properties={};FHChat.set=function(key,data){this.properties[key]=data};!function(){var a,b;return b=document.createElement("script"),a=document.getElementsByTagName("script")[0],b.src="https://chat-client-js.firehoseapp.com/chat-min.js",b.async=!0,a.parentNode.insertBefore(b,a)}();
</script>
<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','//connect.facebook.net/en_US/fbevents.js');

fbq('init', '1639664539644918');
fbq('track', "PageView");</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=1639664539644918&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->
<!-- Facebook Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '1442017755847983');
  fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=1442017755847983&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->
<!-- Hotjar Tracking Code for http://teachera.org -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:127342,hjsv:5};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
</script>

  </head>
  <body id="home">
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '278199585695188',
      xfbml      : true,
      version    : 'v2.5'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

  <div id="wrap"> <!-- necessary for sticky footer. wrap all content except footer -->
    <div class="collapse hidden-print" id="banner">
  <div class="container">
    <div class="message-container">
      <div class="tagline">
        <span id="rotating-message"></span>
      </div>
      <div class="action">
        <a id="rotating-url" class="btn btn-primary btn-block" href=""></a>
      </div>
    </div>
  </div>
</div>

  <div class="navbar navbar-inverse navbar-static-top hidden-print">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <i class="fa fa-bars fa-lg"></i>
      </button>
      <a href="./" class="navbar-brand"> Teachera</a>
    </div>

    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="./about">About Us</a></li>
        <li class="hidden-sm">
          <a href="./faq">Faq</a>
        </li>
        <li class="hidden-xs hidden-md hidden-lg">
          <a href="./faq">Faq</a>
        </li>
        </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="/signup">Sign up</a></li>
                <li><a href="/login"><i class="fa fa-unlock"></i> Login</a></li>
            </ul>
    </div>
  </div>
</div>


 <div class="jumbotron jumbotron-carousel hidden-print">
  <div class="container">
    <div class="row">
      <div class="text-center">
        <h1>{{data}}</h1>
        <h3>Class fees are very affordable when there are more attendees.</h3>
        <h4>Click the signup button to join! </h4>
        <div class="actions">
          <a class="btn btn-default btn-lg" href="/signup" data-toggle="modal">
            <i class="fa fa-sign-in"></i>&nbsp;
            Signup
          </a>
        </div>
      </div>
      <div class="noDiv">
        <div id="icon-carousel" class="carousel slide">
          <!-- Carousel items -->

        </div>
      </div>
    </div>

  </div>
</div>

<div class="container">
  
  <section class="hidden-print">
  <div class="stripe-ad">
    <!----<script src="https://cdn.fusionads.net/fusion.js?zoneid=1332&amp;serve=C6SDP2Y&amp;placement=fontawesome" id="_fusionads_js"></script>---->

    
  <p class="lead">
    We provide affordable {{data}} group classes. Our classes our affordable and held at locations near you. We prepare you for the job market.
  </p>
  
  </div>
</section>


  <section id="why" class="feature-list">
  <div class="row">
    <div class="col-md-4 col-sm-6">
      <h4><i class="fa fa-flag"></i> {{data}} accreditation</h4>
                   As a training courses marketplace, we connect students looking to learn {{data}} with teachers teaching. Our private teachers and tutors will prepare you towards other certification exams that you need. Some classes or courses do not need accreditation.

    </div>
    <div class="col-md-4 col-sm-6">
      <h4><i class="fa fa-ban"></i> What we do</h4>
      We provide you with affordable pyhsical location based classes to learn {{data}} in training groups. Our course or class training  groups are between 3 groups or 5 groups or more. The more people that attend the class the cheaper that class becomes. 
    </div>
    <div class="col-md-4 col-sm-6">
      <h4><i class="fa fa-arrows-alt"></i> Class Durations and Flexibility.</h4>
                   One of our core goals is to offer people flexibility to allow part time or full time learning. Classes taught by our private teachers are scheduled with you in mind. Some are twice weekly and or daily.

    </div>
    <div class="col-md-4 col-sm-6">
      <h4><i class="fa fa-pencil"></i> About Us</h4>
                  We have designed Teachera.org for students looking to learn {{data}} to be able to do so affordably by joining other students thereby lowering the fees. Our team based currently in London comprises of people who believe in flexible, affordable private group classes.

    </div>
    <div class="col-md-4 col-sm-6">
      <h4><i class="fa fa-eye"></i> Technical Classes</h4>
      We also provide technical classes on Python Programming language, HTML5 /CSS3 , Php, Java, Ruby, C++ , C# etc. If you are interested in any of these classes please signup, complete your profile and we will send you information on available classes in your area.
    </div>
    <div class="col-md-4 col-sm-6">
      <h4><i class="fa fa-eye"></i> Non Technical Classes</h4>
      We also provide non technical classes like {{data}}, yoga, guitar, piano and anything that can be taught to a group of 3 to 8 people at once. 
    </div>
    <div class="col-md-4 col-sm-6">
      <h4><i class="fa fa-gamepad"></i> Professional Business Classes</h4>
      We offer trainings in the following areas : Management skills, Marketing management, Company finance, Managing Growth, Fundamentals of Marketing, Sales management, Public Relations, Creative Advertising, Digital Marketing, Change management, HR management, Strategic Management, Project Management.
    </div>
    <div class="col-md-4 col-sm-6">
      <h4><i class="fa fa-microphone"></i> Teaching Any Classes?</h4>
      We are interested to hear from you if you are looking for any teaching related jobs <a href="/signup">please click here to join.</a>
    </div>
    <div class="col-md-4 col-sm-6">
      <h4><i class="fa fa-search"></i> Contact Us</h4>
      <p>Reach us by sending an email to info@teachera.org or on phone +44 7448129001</p>
    </div>
  </div>
</section>
</div>
  </div>
  <footer id="footer" class="footer hidden-print">
  <div class="container text-center">
    <div>
      <i class="fa fa-flag"></i> Teachera
      <span class="hide-xs">&middot;</span><br class="hide-sm hide-md hide-lg">
      Created by in London</a>
    </div>
    <div>
      Quick links <a href="/sitemap/business/analyst/london/list"> Business Analyst Course List London</a>, 

    </div>
    <div class="project">
      <a href="/learn-to-play-guitar-Barcelona">Guitar classes</a> &middot;
      <a href="/learn-to-code-Python-Barcelona">Python classes</a> &middot;
      <a href="/learn-to-code-Java-Barcelona"> Java classes</a>
    </div>
    <div>
      <a href="/salsa-classes-in-barcelona">Sala classes in Barcelona</a> |
      <a href="/yoga-classes-in-barcelona">Yoga classes in Barcelona</a> |
      <a href="/group-excercise-classes-barcelona">Group exercise classes Barcelona</a> |

    </div>
  </div>
</footer>


  <script src="https://platform.twitter.com/widgets.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>
</html>
