{% extends "base.html" %}


{% block content %}




<div class="header vert policy">
  <div class="container">
    
    <h1>Privacy Policy</h1>
    </div>
  </div>

  <div id="sec1" class="blurb">
    <div class="container">
    <p>Teachera.org  is operated in Teachera Training Ltd, a company incorporated in United Kingdom.  
  This policy is designed to protect your privacy and to help you understand, how we collect and use your personal information. 
  By submitting a job application, the applicant approves the storing and use of the submitted data. Personal data protection in accordance with Section 10 of the Personal Data Act (HetiL 10§). </p>

  <h4>Right of access:</h4>

  <p>In accordance with Section 26§ of the Personal Data Act, everyone has the right to inspect what information related to their person has been stored in the register. Any request to inspect the register shall be delivered in writing, with the requesting party’s signature to  info@Teachera.org</p>

  <h4>Purpose of processing of personal data:</h4>
  <p>The register is intended for receiving, processing and storing the job applications of persons interested in pursuing a career with our client companies.  Applicants may apply for a particular position or fill out their resumes for search by our clients and human resources personnel may also process an application in connection with other suitable positions.
  Job application data is kept in an applicant register for three (4) years and may be retrieved in connection with other positions.</p> <p>Job application data is always confidential and is never disclosed to persons outside the recruitment process. Confidentiality refers to the fact that job application data is only available to persons authorized to process the data.
  Konor Dev.co may at its discretion remove any job application with incomplete information. <p>An application may also be removed or altered at the applicant’s request. Any request to remove or alter an application shall be delivered in writing to the controller or presented in person at the controller’s address.</p>

  <h4>Registered data:</h4>
  <p>Applicant’s basic information (name, contact information, date of birth)</p>
  <p>Applicant’s education and work experience</p>
  <p>Applicant’s preferences regarding future employment</p>
  <p>Description of applicant’s experience </p>
  <p>Additional information provided by the applicant</p>
  <h4>Sources of data:</h4>
  <p>Job applicants</p>
  <h4>Regular transfers of disclosed data:</h4>
  <p>The data will be disclosed to clients outside Teachera Training Ltd .</p>
  <h4>Transfer of data outside the EU/EEA:</h4>
  <p>The data will be transferred clients outside the European Union or the European Economic Area.</p>
   <h4>Principles of data protection:</h4>
  <p>A. Hard copies</p>
  <p>Printed paper versions of CVs are stored together with other recruitment material.</p>
  <h4>B. Electronically stored data:</h4>
  <p>The registered data are protected using passwords. Only employees and clients of Teachera Training Ltd or its subsidiaries have access to personal data stored in the register. </p>

  </p>
      
  </div>
</div>
       
        <!-- JavaScript jQuery code from Bootply.com editor -->
        
        <script type='text/javascript'>
        
        $(document).ready(function() {
        
            /* smooth scrolling for scroll to top */
$('.scroll-top').click(function(){
  $('body,html').animate({scrollTop:0},1000);
})
/* smooth scrolling for scroll down */
$('.scroll-down').click(function(){
  $('body,html').animate({scrollTop:$(window).scrollTop()+800},1000);
})

/* highlight the top nav as scrolling occurs */
$('body').scrollspy({ target: '#navbar' })

        
        });
        
        </script>
        
 
{% endblock %}