<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Teachera: {{title}} {{keyword}} {{location}} | Private group  {{title}} {{keyword}} in {{location}} | Teachera</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="google-site-verification" content="Vrn1u7x7MR5PRxaZ2y8TSyixybVPX_T4PRQDYvSxRGM" />
    <meta name="description" content="Attend affordable {{title}} {{keyword}} in {{location}} near you. Classes do not cost much and are held at physical locations in {{location}}.">
    <!-- You can use open graph tags to customize link previews.
    Learn more: https://developers.facebook.com/docs/sharing/webmasters -->
    <meta property="og:url"           content="http://teachera.org" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="Private group teachers and tutors" />
    <meta property="og:description"   content="Attend affordable {{title}} {{keyword}} in {{location}} near you. Classes do not cost much and are held at physical locations in {{location}}." />
    <meta property="og:image"         content="http://teachera.org/static/img/social_media.jpg" />
    <meta property="fb:app_id"	      content="278199585695188" />

    <link rel="stylesheet" href="{{ url_for('static', filename='pygments.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='site.css') }}">
    <link rel="image_src" href="http://www.teachera.org/static/img/social_media.jpg" />
    <link rel="shortcut icon" href="http://www.teachera.org/static/img/favicon01.png"> 
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="./bower_components/html5shiv/dist/html5shiv.js"></script>
      <script src="./bower_components/respond/dest/respond.min.js"></script>
    <![endif]-->
<!----Firehose chat script----->
<script type="text/javascript">
  var FHChat = {product_id: "aa51aeaf7ad7"};
  FHChat.properties={};FHChat.set=function(key,data){this.properties[key]=data};!function(){var a,b;return b=document.createElement("script"),a=document.getElementsByTagName("script")[0],b.src="https://chat-client-js.firehoseapp.com/chat-min.js",b.async=!0,a.parentNode.insertBefore(b,a)}();
</script>
<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','//connect.facebook.net/en_US/fbevents.js');

fbq('init', '1639664539644918');
fbq('track', "PageView");</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=1639664539644918&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->
<!-- Hotjar Tracking Code for http://teachera.org -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:630091,hjsv:5};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
</script>
<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/59c2699d4854b82732ff11b3/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
  </head>
  <body id="home">
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '278199585695188',
      xfbml      : true,
      version    : 'v2.5'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

  <div id="wrap"> <!-- necessary for sticky footer. wrap all content except footer -->
    <div class="collapse hidden-print" id="banner">
  <div class="container">
    <div class="message-container">
      <div class="tagline">
        <span id="rotating-message"></span>
      </div>
      <div class="action">
        <a id="rotating-url" class="btn btn-primary btn-block" href=""></a>
      </div>
    </div>
  </div>
</div>

  <div class="navbar navbar-inverse navbar-static-top hidden-print">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <i class="fa fa-bars fa-lg"></i>
      </button>
      <a href="./" class="navbar-brand"> Teachera</a>
    </div>

    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="./about">About Us</a></li>
        <li class="hidden-sm">
          <a href="./faq">Faq</a>
        </li>
        <li class="hidden-xs hidden-md hidden-lg">
          <a href="./faq">Faq</a>
        </li>
	<li><a href="./teachers">For Teachers or Tutors</a></li>
        </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="/signup">Sign up</a></li>
                <li><a href="/login"><i class="fa fa-unlock"></i> Login</a></li>
            </ul>
    </div>
  </div>
</div>


 <div class="jumbotron jumbotron-carousel hidden-print">
  <div class="container">
    <div class="row">
      <div class="text-center">
        <h1>Attend {{title}} {{keyword}} in {{location}}</h1>
        <p>{{title}} {{keyword}} are cost affordable and held at physical locations in {{location}}. Signup now!</p>
        <div class="actions">
          <a class="btn btn-default btn-lg" href="/signup" data-toggle="modal">
            <i class="fa fa-sign-in"></i>&nbsp;
            Attend
          </a>
        </div>
      </div>
      <div class="noDiv">
        <div id="icon-carousel" class="carousel slide">
          <!-- Carousel items -->

        </div>
      </div>
    </div>

  </div>
</div>

<div class="container">
  
  <section class="hidden-print">
  <div class="stripe-ad">
    
  <p class="lead">
    We provide affordable {{title}} {{keyword}} in {{location}}. Our classes our affordable and held at locations near you. We prepare you for the job market.
  </p>
  
  </div>
</section>


  <section id="why" class="feature-list">
  <div class="row">
    <div class="col-md-4 col-sm-6">
      <h4><i class="fa fa-flag"></i>  Accreditation</h4>
                   As a platform that connects students with teachers. Our private teachers and tutors will prepare you towards other certification exams that you need. 

    </div>
    <div class="col-md-4 col-sm-6">
      <h4><i class="fa fa-ban"></i> What we do</h4>
      We connect everyone with private group classes on {{title }} {{keyword}} in {{location}}. Class groups are between 3 groups or 5 groups and above depending on how many students the teacher can handle. 
    </div>
    <div class="col-md-4 col-sm-6">
      <h4><i class="fa fa-arrows-alt"></i> Class Durations and Flexibility.</h4>
                   One of our core goals is to offer people flexibility to allow part time or full time learning. Classes taught by our private teachers are scheduled with you in mind. Some are twice weekly and or daily.

    </div>
    <div class="col-md-4 col-sm-6">
      <h4><i class="fa fa-pencil"></i> About Us</h4>
                  We have designed Teachera.org for students to have flexible and inexpensive private group classes on anything.

    </div>
    <div class="col-md-4 col-sm-6">
      <h4><i class="fa fa-eye"></i> Technical Classes</h4>
      Technical classes on Python Programming language, HTML5 /CSS3 , Php, Java, Ruby, C++ , C# .
    </div>
    <div class="col-md-4 col-sm-6">
      <h4><i class="fa fa-gamepad"></i> Professional Business Classes</h4>
      Management skills, Marketing management, Company finance, Managing Growth, Fundamentals of Marketing, Sales management, Public Relations, Creative Advertising, Digital Marketing, Change management, HR management, Strategic Management, Project Management.
    </div>
    <div class="col-md-4 col-sm-6">
      <h4><i class="fa fa-microphone"></i> Teaching {{title }} {{keyword}} in {{location}}?</h4>
      We are interested to hear from you if you are looking to teach {{title }} {{keyword}} in {{location}} please <a href="/signup
">here.</a> Please ensure that you tick to indicate that you are a coach. Get started now!
    </div>
    <div class="col-md-4 col-sm-6">
      <h4><i class="fa fa-search"></i> Contact Us</h4>
      <p>Reach us by sending an email to info@teachera.org or on phone +447548129001</p>
    </div>
  </div>
</section>
</div>
  </div>
  <footer id="footer" class="footer hidden-print">
  <div class="container text-center">
    <div>
      <i class="fa fa-flag"></i> Teachera
      <span class="hide-xs">&middot;</span><br class="hide-sm hide-md hide-lg">
      Created by in London</a>
    </div>
    <div>
      <a href="/list/courses/"> Sitemap</a>
    </div>
    <div class="project">
      <a href="/python-{{location}}">Python {{location}}</a> |
      <a href="/ruby-{{location}}">Ruby courses in {{location}}</a> |
      <a href="/html5-{{location}}"> Html5 courses in {{location}}</a> |
      <a href="/java-{{location}}"> Java courses in {{location}}</a> |
      <a href="/django-{{location}}"> Django courses in {{location}}</a> |
      <a href="/javascript-{{location}}"> JavaScript courses in {{location}}</a> |
    </div>
  </div>
</footer>


  <script src="https://platform.twitter.com/widgets.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>
</html>
