<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{data}} trainer jobs | Freelance {{data}} teacher and trainer vacancy | Part time {{data}} trainer job</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="google-site-verification" content="Vrn1u7x7MR5PRxaZ2y8TSyixybVPX_T4PRQDYvSxRGM" />
    <meta name="description" content="Are you looking for vacancies to teach or train people on {{data}} full time or part-time as a freelancer or contractor? Signup now to become a trainer!">
    <!-- You can use open graph tags to customize link previews.
    Learn more: https://developers.facebook.com/docs/sharing/webmasters -->
    <meta property="og:url"           content="http://teachera.org" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="{{data}}" />
    <meta property="og:description"   content="Are you looking for vacancies to teach or train people on {{data}} full time or part-time as a freelancer or contractor? Signup now to become a trainer!">
    <meta property="og:image"         content="http://teachera.org/static/img/social_media.jpg" />
    <meta property="fb:app_id"	      content="278199585695188" />

    <link rel="stylesheet" href="{{ url_for('static', filename='pygments.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='site.css') }}">
    <link rel="image_src" href="http://teachera.org/static/img/Teachera.jpg" />
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="./bower_components/html5shiv/dist/html5shiv.js"></script>
      <script src="./bower_components/respond/dest/respond.min.js"></script>
    <![endif]-->
<!----Firehose chat script----->
<script type="text/javascript">
  var FHChat = {product_id: "aa51aeaf7ad7"};
  FHChat.properties={};FHChat.set=function(key,data){this.properties[key]=data};!function(){var a,b;return b=document.createElement("script"),a=document.getElementsByTagName("script")[0],b.src="https://chat-client-js.firehoseapp.com/chat-min.js",b.async=!0,a.parentNode.insertBefore(b,a)}();
</script>
<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','//connect.facebook.net/en_US/fbevents.js');

fbq('init', '1639664539644918');
fbq('track', "PageView");</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=1639664539644918&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->
<!-- Hotjar Tracking Code for http://teachera.org -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:127342,hjsv:5};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
</script>
<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/59c2699d4854b82732ff11b3/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
  </head>
  <body id="home">
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '278199585695188',
      xfbml      : true,
      version    : 'v2.5'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

  <div id="wrap"> <!-- necessary for sticky footer. wrap all content except footer -->
    <div class="collapse hidden-print" id="banner">
  <div class="container">
    <div class="message-container">
      <div class="tagline">
        <span id="rotating-message"></span>
      </div>
      <div class="action">
        <a id="rotating-url" class="btn btn-primary btn-block" href=""></a>
      </div>
    </div>
  </div>
</div>

  <div class="navbar navbar-inverse navbar-static-top hidden-print">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <i class="fa fa-bars fa-lg"></i>
      </button>
      <a href="./" class="navbar-brand"> Teachera</a>
    </div>

    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="./about">About Us</a></li>
        <li class="hidden-sm">
          <a href="./faq">Faq</a>
        </li>
        <li class="hidden-xs hidden-md hidden-lg">
          <a href="./faq">Faq</a>
        </li>
        </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="/signup">Sign up</a></li>
                <li><a href="/login"><i class="fa fa-unlock"></i> Login</a></li>
            </ul>
    </div>
  </div>
</div>


 <div class="jumbotron jumbotron-carousel hidden-print">
  <div class="container">
    <div class="row">
      <div class="text-center">
        <h1>Teach {{data}}</h1>
        <h2>We provide the students and promote your {{data}} classes so you find students easier. Just show up and teach!</h2>
        <h3>Click the signup button to join! When joining please tick the box to identify that you are a coach</h3>
        <div class="actions">
          <a class="btn btn-default btn-lg" href="/signup" data-toggle="modal">
            <i class="fa fa-sign-in"></i>&nbsp;
            Signup
          </a>
        </div>
      </div>
      <div class="noDiv">
        <div id="icon-carousel" class="carousel slide">
          <!-- Carousel items -->

        </div>
      </div>
    </div>

  </div>
</div>

<div class="container">
  
  <section class="hidden-print">
  <div class="stripe-ad">
    <!----<script src="https://cdn.fusionads.net/fusion.js?zoneid=1332&amp;serve=C6SDP2Y&amp;placement=fontawesome" id="_fusionads_js"></script>---->

    
  <p class="lead">
    We are a physical course booking platform where we connect private teachers, trainers and tutors who teach job related skills like Python programming, Php, Java, JavaScript seo,
    marketing, Business Analyst skills, Digital Marketing to students, job seekers and anyone looking to learn job related skills at physical locations near them.
  </p>
  
  </div>
</section>


  <section id="why" class="feature-list">
  <div class="row">
    <div class="col-md-4 col-sm-6">
      <h4><i class="fa fa-flag"></i>  Our Goals</h4>
                   We want to help people to learn {{data}} affodably and be able to get jobs because of the skills they have learned. We also want to help people with skills to be able to teach full time or part time at physical class locations. As a freelance teacher we hope you share our goals and you will help prepare learners towards other certification exams or teach {{data}} skills to enable learners get new {{data}} jobs or excel in their current jobs while also earning money from doing so.    </div>
    <div class="col-md-4 col-sm-6">
      <h4><i class="fa fa-ban"></i> What we do</h4>
      We connect private teachers or private tutors or private trainers with groups of students looking to learn various courses at physical locations near them. The groups are between 3 groups or 20 groups and above. 
    </div>
    <div class="col-md-4 col-sm-6">
      <h4><i class="fa fa-arrows-alt"></i> Class Durations and Flexibility.</h4>
                   We want to offer people flexibility to allow part time or full time learning {{data}} at physical onsite locations. {{data}} classes taught by our private teachers are scheduled with students in mind. Some are twice weekly and or daily, as a trainer you determine the duration of {{data}} classes.

    </div>
    <div class="col-md-4 col-sm-6">
      <h4><i class="fa fa-pencil"></i> About Us</h4>
                  We have designed Teachera.org for teachers, trainers, tutors and coaches to create {{data}} classes or courses and also calcuate how much they want to earn and when they want to offer their {{data}} teaching services. We find students looking to learn {{data}}. Our team based currently in London and comprises of people who believe in flexible and affordable learning for everyone in need and at physical locations near them.

    </div>
    <div class="col-md-4 col-sm-6">
      <h4><i class="fa fa-eye"></i> Course Outline & Materials</h4>
      We recommend that the teachers teaching {{data}} create materials using readily available and open source materials from the web.
	Also students learning {{data}} should be sent a soft copy of the material at least 4 hours before the class is about to start and the students should not be charged for any materials or handouts used in the classes. Where possible we have collated some course materials and will provide them to teachers upon request.

    </div>
    <div class="col-md-4 col-sm-6">
      <h4><i class="fa fa-eye"></i>Venue for classes on {{data}}</h4>
      We are working with several partners to ensure that you have venues anywhere to be able to offer your teach {{data}}. In Nigeria, our platform of choice for this is <a href="https://venuehero.co/">Venue Hero</a> . For classes in the UK use <a href="https://hirespace.com">Hire Space</a> or <a href="https://www.tagvenue.com/hire/training-rooms/london">Tag Venue</a>. We are working with to ensure a deeper intergration between venues and our platform. If you need help in finding a venue to teach {{data}} please contact us and we will sort this out for you.
      When creating the course, endeavor to complete the field for the cost of the venue, we will pay this ourselves to the venue owner before the start of the class. 
    </div>
    <div class="col-md-4 col-sm-6">
      <h4><i class="fa fa-gamepad"></i> Rates and Remuneration</h4>
      We have made provision for teachers teaching {{data}} to provide their cost per hour for the {{data}} class. This way you get a fixed fee based on the total number of hours you have taught {{data}}. Your payment is made after 3 to 5 working days once we reconcile the payments with our bank.
    </div>
    <div class="col-md-4 col-sm-6">
      <h4><i class="fa fa-microphone"></i> Teaching Any Classes?</h4>
      We are interested to hear from you if you are looking to teach jobs related skills<a href="/signup">please click here to join.</a> <p>Or reach us by sending an email to info@teachera.org or on phone +447548129001 (UK), +2348064806168 (Nigeria)</p>
    </div>
    <!---<div class="col-md-4 col-sm-6">
      <h4><i class="fa fa-search"></i> Contact Us</h4>
      
    </div>--->
  </div>
</section>
</div>
  </div>
  <footer id="footer" class="footer hidden-print">
  <div class="container text-center">
    <div>
      <i class="fa fa-flag"></i> Teachera
      <span class="hide-xs">&middot;</span><br class="hide-sm hide-md hide-lg">
      Created by in London</a>
    </div>
    <div>
      More links <a href="/sitemap"> Sitemap</a>, 

    </div>
    <div class="project">
      <a href="/data-analyst-vacancies-list-london">Data Analyst Job Vacancies in London</a> &middot;
      <a href="/learn-to-code-Python-Croydon">Python classes</a> &middot;
      <a href="/learn-to-code-Java-Croydon"> Java classes</a>
    </div>
    <div>
      <a href="/business-analyst-vacancies-list-london">Business Analyst Job Vacancies in London</a> |
      <a href="/">Business Analyst Classes</a> |
      <a href="/">Social Media Marketing Classes</a> |

    </div>
  </div>
</footer>


  <script src="https://platform.twitter.com/widgets.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>
</html>
