{% extends 'base.html' %}
{% block main %}

	<!-- new code for searcher -->
    <div class="jumbotron jumbotron-carousel hidden-print">
	<div class="container">
	<div class="row">
    
        <div class="col-lg-12">
            <h1 style = "text-align: center;">Search for group classes in Barcelona!</h1>
			<p></p>
			<div class="searcher">
				<form action="{{ url_for('search') }}" method=post>
				<div class="div_input1">
					<label for="job_input">What?</label>
					<br />
					<input type="text" id="job_input" name="course_title" />
					<span id="job_input_help">e.g.Guitar classes or Python Programming classes</span>
				</div>
		
				<div class="div_input1">
					<label for="where_input">Where?</label>
					<br />
					<input type="text" id="where_input" name="location" onfocus="document.getElementById('ui-id-1').style.display='block';" />
					<span id="where_input_help">e.g. city, country or postcode</span>
				</div>
				
				<div class="div_submit1">
					<input type="submit" value="" class="subm1" />
				</div>
			</form>
		</div>
    </div>
	</div>
	</div>
	<!-- end new code for searcher -->
  </div>
</div>
<div class="container">
  
  <section class="hidden-print">
  <div class="stripe-ad">

    
  <p class="lead">
    We connect anyone with group classes taught by private teachers. Learn anything &mdash; guitar, programming, seo,
    marketing, mathematics and many more at an affordable rate.
  </p>
  
  </div>
</section>


  <section id="why" class="feature-list">
  <div class="row">
    <div class="col-md-4 col-sm-6">
      <h4><i class="fa fa-flag"></i>  Accreditation</h4>
                   As a platform that connects students with teachers. Our private teachers and tutors will prepare you towards other certification exams that you need. 

    </div>
    <div class="col-md-4 col-sm-6">
      <h4><i class="fa fa-ban"></i> What we do</h4>
      We connect everyone with private group classes on   created by private teachers or private tutors . The groups are between 3 groups or 5 groups and above. 
    </div>
    <div class="col-md-4 col-sm-6">
      <h4><i class="fa fa-arrows-alt"></i> Class Durations and Flexibility.</h4>
                   One of our core goals is to offer people flexibility to allow part time or full time learning. Classes taught by our private teachers are scheduled with you in mind. Some are twice weekly and or daily.

    </div>
    <div class="col-md-4 col-sm-6">
      <h4><i class="fa fa-pencil"></i> About Us</h4>
                  We have designed Teachera.org for students to have flexible and inexpensive private group classes on anything. Our team based currently in Barcelona comprises of people who believe in flexible, affordable private classes to .

    </div>
    <div class="col-md-4 col-sm-6">
      <h4><i class="fa fa-eye"></i> Technical Classes</h4>
      Techical classes on Python Programming language, HTML5 /CSS3 , Php, Java, Ruby, C++ , C# .
    </div>
    <div class="col-md-4 col-sm-6">
      <h4><i class="fa fa-gamepad"></i> Professional Business Classes</h4>
      Management skills, Marketing management, Company finance, Managing Growth, Fundamentals of Marketing, Sales management, Public Relations, Creative Advertising, Digital Marketing, Change management, HR management, Strategic Management, Project Management.
    </div>
    <div class="col-md-4 col-sm-6">
      <h4><i class="fa fa-microphone"></i> Teaching Any Classes?</h4>
      We are interested to hear from you if you are looking for any teaching related jobs please fill out your information  <a href="https://docs.google.com/forms/d/1FOu7jV4N4x5eAwLf6SC2zlVVhSh92hwdkkMbo_R5qq8/viewform?edit_requested=true
">here.</a>
    </div>
    <div class="col-md-4 col-sm-6">
      <h4><i class="fa fa-search"></i> Contact Us</h4>
      <p>Reach us by sending an email to info@teachera.org or on phone +34 607 660 196 (English)</p>
    </div>
  </div>
</section>
</div>
  </div>
	
	
	<style>
	
/* STYLE FOR SEARCHER */
    form input#title,form input#location{
			width: 350px;
			height : 50px;
		    -webkit-border-radius: 3px;
		    -moz-border-radius: 3px;
            border-radius: 10px;
  			border: 1px solid #cccccc;
            padding: 5px;
            font-size: 20px;
			color: black;
		}
	form input#search{
			height : 50px;
		 	background-color : #2AA4CF
		}
	.div_input1
	{
		max-width: 450px;
		float: left;
		text-align: left;
		width:50%;
	}
	
	.div_submit1
	{
		max-width: 60px;
		float: left;
		text-align: center;
		width:10%;
	}
	
	.ui-autocomplete
	{
		background-color: #FFFFFF;
		border: 1px solid #C2C6CF;
		list-style-type: none;
		margin: 0;
		max-height: 240px;
		overflow-x: hidden;
		overflow-y: auto;
		padding: 0;
		width: 300px;
		z-index: 200 !important;
		text-align:left;
		transition: all 0.5s ease 0s;
	}

	.ui-autocomplete li
	{
		padding:3px;
		border-bottom: 1px dotted #dADADA;
	}

	.ui-autocomplete a
	{
		color:#bd4708;
		padding:3px;
		cursor:pointer;
	}

	.ui-autocomplete a:hover
	{
		text-decoration:none;
		color:#df691a;
	}
	
	.searcher
	{
		height: 60px;
		margin: 0 auto;
		position: relative;
		width: 100%;
		max-width:960px;
	}
	
	#job_input, #where_input
	{
		background: none repeat scroll 0 0 #FFFFFF;
		border: 0 none;
		border-radius: 3px 3px 3px 3px;
		display: block;
		font-size: 24px;
		height: 42px;
		line-height: 42px;
		padding: 6px 6px 6px 6px;
		width:90%;
		max-width: 400px;
		color:#666;
	}
	
	.searcher label
	{
		font-size:24px;
		line-height:30px;
	}
	
	.searcher span
	{
		font-size:16px;
		line-height:16px;
	}
	
	.subm1
	{
		background: url("static/image/icon_search.png") no-repeat scroll center center transparent;
		border: 2px solid;
		border-radius: 3px 3px 3px 3px;
		display: block;
		height: 42px;
		margin: 0;
		padding: 0;
		position: relative;
		right: 15px;
		top: 35px;
		width: 52px;
		box-shadow: 0 0 0 rgba(250, 250, 250, 0.3);
		transition: color 0.2s ease 0s, background 0.2s ease 0s, box-shadow 0.5s ease 0s;
	}
	
	.subm1:hover
	{
		background: url("static/image/icon_search2.png") no-repeat scroll center center white;
		border-color: #FFFFFF;
		box-shadow: 0 0 15px rgba(250, 250, 250, 0.6);
		background-size: 18px 24px;
	}

/* END STYLE FOR SEARCHER */












{% endblock main %}