{% extends 'base.html' %}
{% block main %}



<div class="container">
	<div class="row">
        <div class="col-md-3 col-sm-3 col-xs-12">
            <strong><h3> Learn to code courses in Croydon</h3></strong>
            <ul class="list-group">
<a href="/croydon/learn-to-code-c++-croydon" class="list-group-item">learn-to-code c++ in croydon</a>
<a href="/croydon/learn-to-code-c#-croydon" class="list-group-item">learn-to-code c# in croydon</a>
<a href="/croydon/learn-to-code-Ruby-croydon" class="list-group-item">learn-to-code Ruby in croydon</a>
<a href="/croydon/learn-to-code-Python-croydon" class="list-group-item">learn-to-code Python in croydon</a>
<a href="/croydon/learn-to-code-HTML5-croydon" class="list-group-item">learn-to-code HTML5 in croydon</a>
<a href="/croydon/learn-to-code-Java-croydon" class="list-group-item">learn-to-code Java in croydon</a>
<a href="/croydon/learn-to-code-Perl-croydon" class="list-group-item">learn-to-code Perl in croydon</a>
<a href="/croydon/learn-to-code-Php-croydon" class="list-group-item">learn-to-code Php in croydon</a>
<a href="/croydon/learn-to-code-JavaScript-croydon" class="list-group-item">learn-to-code JavaScript in croydon</a>


            </ul>            
        </div>
      </div>
       <div class="col-md-3 col-sm-3 col-xs-12">
            <strong><h3>Computer classes in Croydon</h3></strong>
            <ul class="list-group">
        <a href="/croydon/python-croydon" class="list-group-item">python-croydon</a>
        <a href="/croydon/ruby-croydon" class="list-group-item">ruby-croydon</a>
        <a href="/croydon/html5-croydon" class="list-group-item">html5-croydon</a>
        <a href="/croydon/java-croydon" class="list-group-item">java-croydon</a>
        <a href="/croydon/django-croydon" class="list-group-item">/django-croydon</a>
        <a href="/croydon/javascript-croydon" class="list-group-item">javascript-croydon</a>
        <a href="/croydon/learn-to-code-croydon" class="list-group-item">learn-to-code-croydon</a>
        <a href="/croydon/learn-to-code-c-sharp-croydon" class="list-group-item">learn-to-code-c-sharp croydon</a> 
        <a href="/croydon/programming-courses-in-croydon" class="list-group-item">programming courses in croydon</a> 
        <a href="/croydon/intensive-programming-classes-in-croydon" class="list-group-item">intensive programming classes in croydon</a> 
        <a href="/croydon/cooking-course-croydon" class="list-group-item">cooking course croydon</a> 
        <a href="/croydon/photography-course-croydon" class="list-group-item">photography course croydon</a> 
        <a href="/croydon/art-course-croydon" class="list-group-item"></a> 
        <a href="/croydon/group-exercise-classes-croydon" class="list-group-item">group exercise classes croydon</a>
            </ul>            
        </div>
	</div>

</div>


{% endblock main %}