{% extends 'base.html' %}

{% from 'course/common.html' import edit_field %}

{% if request.endpoint.endswith('edit') %}
{% set title = 'Edit coach details' %}
{% else %}
{% set title = 'Coach details' %}
{% endif %}

{% block head%}
<link href="{{ url_for('static', filename='css/style_coach.css') }}" rel="stylesheet">

{% endblock head%}
{% block main %}
<div class="container company_details" >
    <div class="row">
        <div class="col-md-12">
            <h2>Welcome! Please provide your details to get started. You can be a private tutor or an instituition.</h2>			
              <form action="/coach/activate/" method="post" class="form-control activate">
                <div class="col-md-6">
                    {{ edit_field(form.coach_name, placeholder="Your company name or name of instituition ")}}
                    {{ edit_field(form.email, maxlength=255, placeholder="Email") }}
                    {{ edit_field(form.website, maxlength=255, placeholder="Your website if you have any or Linkedin") }}
                </div>
                <div class="col-md-6">
                    {{ edit_field(form.coach_address, maxlength=255, placeholder="Your address") }}
                    {{ edit_field(form.phone_number, maxlength=255, placeholder="Phone number") }}
                    {{ edit_field(form.first_name, maxlength=255, placeholder="First name") }}
		    {{ edit_field(form.last_name, maxlength=255, placeholder="Last name") }}
                </div>
                <div class="col-md-12">
                    <div class="form-actions">
                        <button type="submit" class="btn btn-default">Save</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-md-2"></div>
    </div>
</div>
<!-- CSS code from Bootply.com editor -->

<style type="text/css">
/* -- custom css for Bootstrap 3.x --*/

/* move special fonts to HTML head for better performance */
@import url('http://fonts.googleapis.com/css?family=Open+Sans:200,300,400,600');

html,
body {
height: 100%;
width: 100%;

}
body {
background-color: #FFFFFF;
color: #000000;
font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 15px;
line-height: 1.42857;
}

/* fix bs3 horizontal scrollbar bug */
.row { margin: 0; padding: 0 }

h1 {
font-size:50px;
}



h4, p, h5, h6 {

font-family: inherit;
font-weight: 300;
line-height: 1.1;
}

img.grayscale {
filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
filter: gray; /* IE6-9 */
-webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}

.icon-bar {
background-color:#fff;
}

.scroll-down a, .scroll-top a {
color:#ffffff;
}

.scroll-down {
position:fixed;
bottom:20%;
right:0%;
color:#f9f9f9;
}

.scroll-top {
background-color:#33ee67;
}

.header .btn-lg {
font-size:28px;
border-color:#eeeeee;
padding:15px;
background-color:transparent;
color:#ffffff;
}

.header .btn-lg:hover {
background-color:#eeeeee;
color:#777777;
}

.navbar a {
color:#fff;
}

.navbar-bold.affix {
background-color:#33ee67;
}

.navbar-bold {
background-color:#11cc45;
font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
}

.navbar-bold li a:hover {
background-color:#00bb34;
}

.navbar-bold li.active {
background-color:#00bb34;
}

.vert {
vertical-align: middle;
width:100%;
padding-top:4%;
}

.header h1 {
font-size:110px;
-webkit-text-stroke: 1px rgba(0,0,0,0.1);
color:#431a6d;
color:#fff;
margin-left:-5px;
margin-bottom:5px;
font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
}

.header .lead {
color:#eeeeee;
font-size:25px;
}

.header {
height: 80%;
background: #2B3E50;
}

.blurb {
padding: 120px 0;
background-color:#fefefe;
}

.blurb .panel {
background-color:transparent;
}

.bright {
background: #7fbbda url('http://www.bootply.com/assets/example/bg_suburb.jpg') no-repeat center center fixed;
color:#fff;
}

.featurette {
background: #545455;
padding: 50px 0;
color: #ffffff;
}

.featurette-item {
margin-bottom: 15px;
}

.featurette-item > i {
border: 3px solid #ffffff;
border-radius: 50%;
display: inline-block;
font-size: 56px;
width: 140px;
height: 140px;
line-height: 136px;
vertical-align: middle;
text-align: center;
}

.featurette-item > i:hover {
font-size: 68px;
}

.callout {
color: #ffffff;
padding-top:7%;
height: 100%;
width: 100%;
background: url('http://www.bootply.com/assets/example/bg_suburb.jpg') no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

.gallery {
padding: 50px 0;
}

.call-to-action {
background: #eeeeee;
padding: 50px 0;
}

.call-to-action .btn {
margin: 10px;
}

.btn {
-moz-user-select: none;
background-color: #C85E17;
border: 1px solid rgba(0, 0, 0, 0);
border-radius: 0;
cursor: pointer;
display: inline-block;
font-size: 15px;
font-weight: normal;
line-height: 1.42857;
margin-bottom: 0;
padding: 8px 16px;
text-align: center;
vertical-align: middle;
white-space: nowrap;
font-color: #000000;
}

footer {
padding: 100px 0;
}

.panel {
background-color: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0);
border-radius: 0;
box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
margin-bottom: 21px;
}

.center {
float: none;
margin-left: auto;
margin-right: auto;
}


/* -- end custom css for Bootstrap 3.x --*/

</style>
<script type="text/javascript">
(function () {
$("textarea#description").pagedownBootstrap();
})();
$(document).ready(function(){
    $('.activate #website').focus(function() {
        $(this).val('http://');
    });
});
</script>

{% endblock main %}
