<link rel="image_src" href="http://teachera.org/static/img/happy-programmers-women.jpg" />
<link rel="image_src" href="http://teachera.org/static/img/small-group-class.jpg" />
<link rel="image_src" href="http://teachera.org/static/img/group_class.jpg" />
<link rel="image_src" href="http://teachera.org/static/img/yoga_group.jpg" />
<link rel="image_src" href="http://teachera.org/static/img/group-dance-classes-01.jpg" />
<link rel="image_src" href="http://teachera.org/static/img/programming-training.jpg" />
<link rel="image_src" href="http://teachera.org/static/img/Classroom+group+big+youths.JPG" />
{% extends 'base.html' %}


{% block title_b %}{{ course.course_title }} {{ course.city }}  on Teachera.org -{% endblock title_b %}
{% block description_b %}{{course.description|default('')}}{% endblock description_b %}



{% block head%}
 
<link href="{{ url_for('static', filename='css/style_course.css') }}" rel="stylesheet">


    {{ moment.include_jquery() }}
    {{ moment.include_moment() }}


{% endblock head%}

{% block main %}

    <style>
    .invoice-box{
        max-width:800px;
        margin:auto;
        padding:30px;
        border:1px solid #eee;
        box-shadow:0 0 10px rgba(0, 0, 0, .15);
        font-size:16px;
        line-height:24px;
        font-family:'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
        color:#555;
    }
    
    .invoice-box table{
        width:100%;
        line-height:inherit;
        text-align:left;
    }
    
    .invoice-box table td{
        padding:5px;
        vertical-align:top;
    }
    
    .invoice-box table tr td:nth-child(2){
        text-align:right;
    }
    
    .invoice-box table tr.top table td{
        padding-bottom:20px;
    }
    
    .invoice-box table tr.top table td.title{
        font-size:45px;
        line-height:45px;
        color:#333;
    }
    
    .invoice-box table tr.information table td{
        padding-bottom:40px;
    }
    
    .invoice-box table tr.heading td{
        background:#eee;
        border-bottom:1px solid #ddd;
        font-weight:bold;
    }
    
    .invoice-box table tr.details td{
        padding-bottom:20px;
    }
    
    .invoice-box table tr.item td{
        border-bottom:1px solid #eee;
    }
    
    .invoice-box table tr.item.last td{
        border-bottom:none;
    }
    
    .invoice-box table tr.total td:nth-child(2){
        border-top:2px solid #eee;
        font-weight:bold;
    }
    
    @media only screen and (max-width: 600px) {
        .invoice-box table tr.top table td{
            width:100%;
            display:block;
            text-align:center;
        }
        
        .invoice-box table tr.information table td{
            width:100%;
            display:block;
            text-align:center;
        }
    }
    </style>

    <div class="invoice-box">
        <table cellpadding="0" cellspacing="0">
            <tr class="top">
                <td colspan="2">
                    <table>
                        <tr>
                            <td class="title">
				Teachera.org
                            </td>
                            
                            <td>
                                Invoice <br>
                                {{ moment().format('MMMM Do YYYY') }}.

                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            
            <tr class="information">
                <td colspan="2">
                    <table>
                        <tr>
                            <td>
                               {{course.user.name}}<br>
                                <br>
                                
                            </td>
                            
                            <!---<td>
                                Acme Corp.<br>
                                John Doe<br>
                                john@example.com
                            </td>----->
                        </tr>
                    </table>
                </td>
            </tr>
            
            <tr class="heading">
                <td>
                    Payment Method
                </td>
                
                <td>
                    Check #
                </td>
            </tr>
            
            <tr class="details">
                <td>
                    Pay with card
                </td>
                
                <td>
                    
                </td>
            </tr>
            
            <tr class="heading">
                <td>
                    Item
                </td>
                
                <td>
                    Price
                </td>
            </tr>
            
            <tr class="item">
                <td>
                    {{course.course_title}}
                </td>
                
                <td>
                    {% if course.country == 'United Kingdom' %}&pound;{% else %}&#x20a6;{% endif %} {{amount}}
                </td>
            </tr>
            
            <tr class="total">
                <td></td>
                
                <td>
  {% if course.country == 'United Kingdom' %}
	 <form action="/courses/{{course.course_title}}/{{course.id}}/charge" method="post">
    <article>
      <label>
        <span>Total amount is &pound; {{amount}}</span>
      </label>
    </article>

    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="{{ key }}"
            data-description="Teachera Payment"
            data-currency="gbp"
            data-amount="{{amount*100}}"
            data-locale="auto"></script>

  </form> 
  {% else %}

  <form action="/private/group/courses/{{course.course_title}}/{{course.id}}/charge" method="post">
    <article>
      <label>
        <span>Total amount is &#x20a6; {{amount}}</span>
      </label>
    </article>
    <input type="submit" name="submit" value="Pay with paystack">
  </form>
{% endif %}
 <!-- <a href="/private/group/courses/{{course.course_title}}/{{course.id}}/charge"> pay with paystack</a> -->


                </td>
            </tr>
        </table>

    </div>

{% endblock main %}
