<link rel="image_src" href="http://teachera.org/static/img/happy-programmers-women.jpg" />
<link rel="image_src" href="http://teachera.org/static/img/small-group-class.jpg" />
<link rel="image_src" href="http://teachera.org/static/img/group_class.jpg" />
<link rel="image_src" href="http://teachera.org/static/img/programming-training.jpg" />
<link rel="image_src" href="http://teachera.org/static/img/social_media.jpg" />
<link rel="shortcut icon" href="http://www.teachera.org/static/img/Favicon01.ico">
{% extends 'base.html' %}





{% block head%}
 
<link href="{{ url_for('static', filename='css/style_course.css') }}" rel="stylesheet">


    {{ moment.include_jquery() }}
    {{ moment.include_moment() }}


{% endblock head%}

{% block main %}

<!-- ====================== start all css area ============== -->

    <style>
    .invoice-box{
        max-width:800px;
        margin:auto;
        padding:30px;
        border:1px solid #eee;
        box-shadow:0 0 10px rgba(0, 0, 0, .15);
        font-size:16px;
        line-height:24px;
        font-family:'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
        color:#555;
    }
    
    .invoice-box table{
        width:100%;
        line-height:inherit;
        text-align:left;
    }
    
    .invoice-box table td{
        padding:5px;
        vertical-align:top;
    }
    
    .invoice-box table tr td:nth-child(2){
        text-align:right;
    }
    
    .invoice-box table tr.top table td{
        padding-bottom:20px;
    }
    
    .invoice-box table tr.top table td.title{
        font-size:45px;
        line-height:45px;
        color:#333;
    }
    
    .invoice-box table tr.information table td{
        padding-bottom:40px;
    }
    
    .invoice-box table tr.heading td{
        background:#eee;
        border-bottom:1px solid #ddd;
        font-weight:bold;
    }
    
    .invoice-box table tr.details td{
        padding-bottom:20px;
    }
    
    .invoice-box table tr.item td{
        border-bottom:1px solid #eee;
    }
    
    .invoice-box table tr.item.last td{
        border-bottom:none;
    }
    
    .invoice-box table tr.total td:nth-child(2){
        border-top:2px solid #eee;
        font-weight:bold;
    }
    .total{
    	text-align:right;
    }
    @media only screen and (max-width: 600px) {
        .invoice-box table tr.top table td{
            width:100%;
            display:block;
            text-align:center;
        }
        
        .invoice-box table tr.information table td{
            width:100%;
            display:block;
            text-align:center;
        }

        .total{
    	text-align:center;
    }

		.invoice-box table tr.top table td.title {
    font-size: 32px;
    line-height: 37px;
    color: #333;
}

    .navbar-collapse.collapse.in {
    text-align: center;
}
    }
    </style>


<!-- =======================end of all css  area ============= -->

   
<!-- =======================start html table area ============= -->
    <div class="invoice-box table-responsive">
	<h2>Course Payment Terms</h2>
	<h3>How to determine the cost of a class:</h3>
	<p>We have an inbuilt logic where the cost of a class is calculated based on the following:
		
			<li>Cost of Rent Per Hour</li>
			<li>Your Fee Per Hour</li>
			<li>Minimum Number of Students(4)</li>
			<li>Total Class Hours(Hours per month)</li>
		
	</p>
	<p>
	We take the value you input as the rent per hour and divide it by the minimum number of students(4).
	If the number of students is more than 4, we charge a 40% service fee.
	If the number of students is less than 4 , we charge a 60% service fee.
	If the number of students is 4 then we charge a 50% service fee.
	</p>
   <h3>Why do we do so?</h3>
	<p>Currently the VAT rate for UK is 20%, since we are the company receiving the payment on behalf of you the course creator, we are responsible for paying the VAT to the government.
	This way, you do not have to be a registered company in order to provide training and earn money.

   <h3> Conditions</h3>
	<li>Ensure that you have searched for a suitable venue, input the cost per hour.</li>
	<li>Fill all the details about the course, this will help potential attendees to make their decision.</li>
	<li>Include the start date and time.</li>
	<li>Include the cost per hour that you want to earn per class.</li>
	<li>Include how many hours the class will take in total.</li>
	<li>No cash payments accepted from students, all payments use our online payment system.</li>
	<li>Start the class when you have a minimum of 4 attendees.</li>
	<li> On completion of the class, your fees are released including your rents.</li>
    <br>
	<p>Click the proceed button if you agree with these terms and conditions.</p>
	</p>
            <!-- ========================== -->
            <tr class="total">
                <!-- <td></td> -->
                
                <td colspan="2">
				<!-- Single button -->
					<div class="btn-group">
						<button type="button" onclick="location.href='/courses/create/';" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Proceed 
						</button>
					</div>
                </td>
            </tr>
        </table>
    </div>
<!-- ========================= -->

{% endblock main %}
