{% extends "base.html" %}


{% block content %}    
{% from 'resume/common.html' import detail %}
<div class="container dashboard">
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="alert alert-{{ category }} alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>{{ message|safe }}</div>
{% endfor %}
{% endif %}
{% endwith %}
<div class="row">
 <h1>
  Welcome!
  </h1>
  {% if (current_user.coach == True) %}
    <p style="font-size: 1.1em;">
        Create new courses using  <a href="{{ url_for('course_create') }}">create Course</a> menu option.
    </p>
     <p style="font-size: 1.1em;">
        Check for new applicants for courses on <a href="{{ url_for('course_list') }}">published courses</a> by clicking 'show applicants'.
    </p>
      <p style="font-size: 1.1em;">
        If you are a coach or a tutor or private teacher or trainer, please activate your free coach membership here: <a href="{{ url_for('coach_register') }}"><i class="fa fa-briefcase"></i> coach membership activation</a>
      </p>
  {% else %}
     {% for appt in appts %}
	<div class="container preview_resume">
	     <div class="row">
  
  		<div class="edit-controls"  align="right">
  	       </div>
            {{ detail(appt, show_edit=true) }}
	  </div>
      </div>
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h3><i class="fa fa-check-square-o"></i> Courses you have already applied to join:</h3>
        <ol>
     {% for course in courses %}
          <li>
            <a href="{{ url_for('course_details',course_id=course.id, course_title=course.course_title, city=course.city)}}">{{ course.course_title}} | costing {{ course.cost_per_hour}} |in {{ course.city }} | from {{ course.course_start_date }} to {{ course.course_end_date }} </a>
          </li>
     {% endfor %}
        </ol>
      </div>

      {% else %}
      <div class="page-header">
      <p>
        To apply for classes or courses you need to first update your profile. <a href="{{ url_for('resume_create') }}">Create Profile here</a> 
      </p>
      <p style="font-size: 1.1em;">
        If you are a private teacher or a coach or a tutor, please activate your free account here: <a href="{{ url_for('coach_register') }}"><i class="fa fa-briefcase"></i> private tutor membership activation.</a>
      </p>
	  </div>

     {% endfor %}


  {% endif %}
 </div>
 
</div>
</div>




        <!-- CSS code from Bootply.com editor -->
        
        <style type="text/css">
            /* -- custom css for Bootstrap 3.x --*/

/* move special fonts to HTML head for better performance */
@import url('http://fonts.googleapis.com/css?family=Open+Sans:200,300,400,600');

html,
body {
  height: 100%;
  width: 100%;

}
body {

    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
    line-height: 1.42857;
}

/* fix bs3 horizontal scrollbar bug */
.row { margin: 0; padding: 0 }



img.grayscale {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}

.icon-bar {
   background-color:#fff;
}

.scroll-down a, .scroll-top a {
   color:#ffffff;
}

.scroll-down {
   course:fixed;
   bottom:20%;
   right:0%;
   color:#f9f9f9;
}

.scroll-top {
  background-color:#33ee67;
}

.header .btn-lg {
   font-size:28px;
   border-color:#eeeeee;
   padding:15px;
   background-color:transparent;
   color:#ffffff;
}

.header .btn-lg:hover {
   background-color:#eeeeee;
   color:#777777;
}

.navbar a {
  color:#fff;
}

.navbar-bold.affix {
  background-color:#33ee67;
}

.navbar-bold {
  background-color:#11cc45;
  font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
}

.navbar-bold li a:hover {
  background-color:#00bb34;
}

.navbar-bold li.active {
  background-color:#00bb34;
}

.vert {
  vertical-align: middle;
  width:100%;
  padding-top:4%;
}

.header h1 {
  font-size:110px;
  -webkit-text-stroke: 1px rgba(0,0,0,0.1);
  color:#431a6d;
  color:#fff;
  margin-left:-5px;
  margin-bottom:5px;
  font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
}

.header .lead {
  color:#eeeeee;
  font-size:25px;
}

.header {
  height: 80%;
  background: #2B3E50;
}

.blurb {
  padding: 120px 0;
  background-color:#fefefe;
}

.blurb .panel {
  background-color:transparent;
}

.bright {
  background: #7fbbda url('http://www.bootply.com/assets/example/bg_suburb.jpg') no-repeat center center fixed; 
  color:#fff;
}

.featurette {
  background: #545455;
  padding: 50px 0;
  color: #ffffff;
}

.featurette-item {
  margin-bottom: 15px;
}

.featurette-item > i {
  border: 3px solid #ffffff;
  border-radius: 50%;
  display: inline-block;
  font-size: 56px;
  width: 140px;
  height: 140px;
  line-height: 136px;
  vertical-align: middle; 
  text-align: center;
}

.featurette-item > i:hover {
  font-size: 68px;
}

.callout {
  color: #ffffff;
  padding-top:7%;
  height: 100%;
  width: 100%;
  background: url('http://www.bootply.com/assets/example/bg_suburb.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.gallery {
  padding: 50px 0;
}

.call-to-action {
  background: #eeeeee;
  padding: 50px 0;
}

.call-to-action .btn {
  margin: 10px;
}

.btn {
    -moz-user-select: none;
    background-color: #C85E17;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 0;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: normal;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 8px 16px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
	font-color: #000000;
}

footer {
  padding: 100px 0;
}

.panel {
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    margin-bottom: 21px;
}

/* -- end custom css for Bootstrap 3.x --*/

        </style>

{% endblock %}



