{% extends 'base.html' %}

{% from 'resume/common.html' import edit_field, edit_field2 %}

{% if request.endpoint.endswith('edit') %}
{% set title = 'Edit Resume' %}
{% else %}
{% set title = 'Add Resume' %}
{% endif %}

{% block head%}
<link href="{{ url_for('static', filename='css/style_edit.css') }}" rel="stylesheet">
<script src="{{ url_for('static', filename='js/script_edit.js') }}" type="text/javascript"></script>
{% endblock head%}

{% block title %}{{ title }}{% endblock title %}

{% block main %}



<div class="container resume_edit"><!-- CONTAINER THE WRAPS UP ALL THE CONTENT -->
    <div class="content">
        <form method="post" class=""><!-- FORM STARTS -->
            <div class="form_fields"><!-- WRAPS THE FORM FIELDS START -->
                <legend>{{ title }}</legend>
                <h6>Name</h6>
                <div class="form-group name">
                    {{ edit_field(form.name, maxlength=255,
                    placeholder="Your official name e.g John Smith") }}
                </div>
                <h6>Contacts</h6>
                <div class="form-group contacts"><!-- CONTACT SECITON START -->
                    {{ edit_field(form.email, maxlength=100,
                    placeholder="Email") }}
                    
                    {{ edit_field(form.phone, maxlength=255,
                    placeholder="Phone number") }}
                    
                    {{ edit_field(form.city, maxlength=100,
                    placeholder="City") }}

                    {{ edit_field(form.zip, maxlength=50,
                    placeholder="Zip Code") }}

                    {{ edit_field(form.country, maxlength=255,
                    placeholder="Country") }}
                </div>
		<div>
                 <h6>Your requirements or expectations</h6>
                    {{ edit_field(form.summary_text, maxlength=255,
                    placeholder="Why do you need this class or course? What do you want to achieve with it?") }}
                </div>
                <h6>List courses or classes you are also interested in taking.</h6>
                    <div>
                        {{ edit_field(form.want_one, maxlength=255,
                        placeholder="e.g Oracle DB") }}

                        {{ edit_field(form.want_two, maxlength=255,
                        placeholder="e.g Project Management") }}

                        {{ edit_field(form.want_three, maxlength=255,
                        placeholder="e.g Java Programming Classes") }}

                        {{ edit_field(form.want_four, maxlength=255,
                        placeholder="e.g Python Programming classes") }}

                        {{ edit_field(form.want_five, maxlength=255,
                        placeholder="e.g German Language Classes") }}

                        {{ edit_field(form.want_six, maxlength=255,
                        placeholder="Guitar Classes.") }}
                    </div>
                <div class="resume_controls">
                    <button type="submit" class="btn edit"><i class="fa fa-check"></i> Save</button>               
                    <a href="{{ url_for('resumes_list') }}" class="btn delete"><i class="fa fa-times"></i> Cancel</a>
                </div>
            </div>    
        </form>
    </div>
</div>





<!-- CSS code from Bootply.com editor -->

<style type="text/css">
/* -- custom css for Bootstrap 3.x --*/

/* move special fonts to HTML head for better performance */
@import url('http://fonts.googleapis.com/css?family=Open+Sans:200,300,400,600');

html,
body {
height: 100%;
width: 100%;
}
body {
background-color: #F7F7F7;
color: #4E5D6C;
font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 15px;
line-height: 1.42857;
}

/* fix bs3 horizontal scrollbar bug */
.row { margin: 0; padding: 0 }

h1 {
font-size:50px;
}



h4, p, h5, h6 {

font-family: inherit;
font-weight: 300;
line-height: 1.1;
}

img.grayscale {
filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
filter: gray; /* IE6-9 */
-webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}

.icon-bar {
background-color:#fff;
}

.scroll-down a, .scroll-top a {
color:#ffffff;
}

.scroll-down {
course:fixed;
bottom:20%;
right:0%;
color:#f9f9f9;
}

.scroll-top {
background-color:#33ee67;
}

.header .btn-lg {
font-size:28px;
border-color:#eeeeee;
padding:15px;
background-color:transparent;
color:#ffffff;
}

.header .btn-lg:hover {
background-color:#eeeeee;
color:#777777;
}

.navbar a {
color:#fff;
}

.navbar-bold.affix {
background-color:#33ee67;
}

.navbar-bold {
background-color:#11cc45;
font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
}

.navbar-bold li a:hover {
background-color:#00bb34;
}

.navbar-bold li.active {
background-color:#00bb34;
}

.vert {
vertical-align: middle;
width:100%;
padding-top:4%;
}

.header h1 {
font-size:110px;
-webkit-text-stroke: 1px rgba(0,0,0,0.1);
color:#431a6d;
color:#fff;
margin-left:-5px;
margin-bottom:5px;
font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
}

.header .lead {
color:#eeeeee;
font-size:25px;
}

.header {
height: 80%;
background: #2B3E50;
}

.blurb {
padding: 120px 0;
background-color:#fefefe;
}

.blurb .panel {
background-color:transparent;
}

.bright {
background: #7fbbda url('http://www.bootply.com/assets/example/bg_suburb.jpg') no-repeat center center fixed;
color:#fff;
}

.featurette {
background: #545455;
padding: 50px 0;
color: #ffffff;
}

.featurette-item {
margin-bottom: 15px;
}

.featurette-item > i {
border: 3px solid #ffffff;
border-radius: 50%;
display: inline-block;
font-size: 56px;
width: 140px;
height: 140px;
line-height: 136px;
vertical-align: middle;
text-align: center;
}

.featurette-item > i:hover {
font-size: 68px;
}

.callout {
color: #ffffff;
padding-top:7%;
height: 100%;
width: 100%;
background: url('http://www.bootply.com/assets/example/bg_suburb.jpg') no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

.gallery {
padding: 50px 0;
}

.call-to-action {
background: #eeeeee;
padding: 50px 0;
}

.call-to-action .btn {
margin: 10px;
}

.btn {
-moz-user-select: none;
background-color: #C85E17;
border: 1px solid rgba(0, 0, 0, 0);
border-radius: 0;
cursor: pointer;
display: inline-block;
font-size: 15px;
font-weight: normal;
line-height: 1.42857;
margin-bottom: 0;
padding: 8px 16px;
text-align: center;
vertical-align: middle;
white-space: nowrap;
font-color: #000000;
}

footer {
padding: 100px 0;
}

.panel {
background-color: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0);
border-radius: 0;
box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
margin-bottom: 21px;
}

.center {
float: none;
margin-left: auto;
margin-right: auto;
}


/* -- end custom css for Bootstrap 3.x --*/

</style>

<script type="text/javascript">
(function () {
$("textarea#role_description").pagedownBootstrap();
$("textarea#role_description_two").pagedownBootstrap();
})();
</script>

{% endblock main %}